{% extends "muscle_groups.html" %}

{% block content %}
<html>
    <img src="{{url_for('static', filename='core.png')}}" align="middle" style="width:70%;height:30%; border-radius: 5px; padding-bottom: 2%;" />
    <div class=box>
        <h3>Lower Back</h3>
        <form action="/view_workout/lower back">
            <button>View Exercises</button>
        </form>
    </div>
    <div class=box>
        <h3>Abs</h3>
        <form action="/view_workout/abs">
            <button>View Exercises</button>
        </form>
    </div>
    <div class=box>
        <h3>Obliques</h3>
        <form action="/view_workout/obliques">
            <button>View Exercises</button>
        </form>
    </div>
</html>
{% endblock %}