{% extends "muscle_groups.html" %}

{% block content %}
<html>
    <div class=box>
        <h3>Lower Back</h3>
        <form action="/view_topic/">
            <button>View Exercises</button>
        </form>
    </div>
    <div class=box>
        <h3>Abs</h3>
        <form action="/view_topic/">
            <button>View Exercises</button>
        </form>
    </div>
    <div class=box>
        <h3>Obliques</h3>
        <form action="/view_topic/">
            <button>View Exercises</button>
        </form>
    </div>
</html>
{% endblock %}