{% extends "muscle_groups.html" %}

{% block content %}
<html>
<div class=box>
    <h3>Glutes</h3>
    <form action="/view_topic/">
        <button>View Exercises</button>
    </form>
</div>
<div class=box>
    <h3>Quads</h3>
    <form action="/view_topic/">
        <button>View Exercises</button>
    </form>
</div>
<div class=box>
    <h3>Calves</h3>
    <form action="/view_topic/">
        <button>View Exercises</button>
    </form>
</div>
<div class=box>
    <h3>Hamstring</h3>
    <form action="/view_topic/">
        <button>View Exercises</button>
    </form>
</div>
</html>
{% endblock %}