
{% extends "base.html" %}

{% block content %}
<html>
    <img src="{{url_for('static', filename='tags.png')}}" align="middle" style="width:20%;height:60%; border-radius: 5px;" />
    <div>
        <form action="/muscle_page/">
            <button style="position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: red;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;"><a href="{{ url_for('muscle_groups.upper_body_page') }}">View Muscles</a></button>
        </form>
    </div>
    <div>
        <form action="/muscle_page/">
            <button style="position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: green;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;"><a href="{{ url_for('muscle_groups.core_page') }}">View Muscles</a></button>
        </form>
    </div>
    <div >
        <form action="/muscle_page/">
            <button style="position: absolute;
            top: 93%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: blue;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;"><a href="{{ url_for('muscle_groups.lower_body_page') }}">View Muscles</a></button>
        </form>
    </div>
</html>
{% endblock %}