{% extends "base.html" %}

{% block content %}
<div class="columns">
<div class="column is-6 is-offset-2">
  <h1 class="title">User Info</h1>
  <div class="box">
      <!-- TODO: Add PFP display functionality -->
      {{ pfp_to_html(id)|safe }}

      {%if current_user.admin %}
          <h3>Name: {{ name }} -- ADMIN</h3>
      {% else %}
          <h3>Name: {{ name }} -- Regular User</h3>
      {% endif %}
      <h3>Bio: {{ bio }}</h3>
      <form method="GET" action="/edit_profile">
          <button class="button is-block is-black is-large is-fullwidth" value="Edit Profile" name="action"button style="margin:5px;">Edit Profile</button>
      </form>

      <form method="GET" action="/all_following">
        <button class="button is-block is-black is-large is-fullwidth" value="Manage Following" name="action"button style="margin:5px;">Manage Following</button>
      </form>

      <form method="POST" action="/profile">
          <button class="button is-block is-black is-large is-fullwidth" value="Delete Account" name="action"button style="margin:5px;">Delete Account</button>
      </form>
      {%if current_user.chat_restriction %}
      <form action="/unrestrict_user/">
        <button class="button is-block is-black is-large is-fullwidth" value="Unchatrestrict" name="action" button
          style="margin:5px;">Chat with anyone</button>
      </form>
      {% else %}
      <form action="/restrict_user/">
        <button class="button is-block is-black is-large is-fullwidth" value="Chatrestrict" name="action" button
          style="margin:5px;">Chat only mutuals</button>
      </form>
      {% endif %}
      {%if current_user.private %}
      <form action="/handle_private/">
        <button class="button is-block is-black is-large is-fullwidth" value="Unchatrestrict" name="action" button
          style="margin:5px;">Make Public</button>
      </form>
      {% else %}
      <form action="/handle_private/">
        <button class="button is-block is-black is-large is-fullwidth" value="Chatrestrict" name="action" button
          style="margin:5px;">Make Private</button>
      </form>
      {% endif %}
      {%if current_user.admin %}
      <form action="/temp_admin_self/">
        <button class="button is-block is-black is-large is-fullwidth" value="Unchatrestrict" name="action" button
          style="margin:5px;">No admin</button>
      </form>
      {% else %}
      <form action="/temp_admin_self/">
        <button class="button is-block is-black is-large is-fullwidth" value="Chatrestrict" name="action" button
          style="margin:5px;">Give admin</button>
      </form>
      {% endif %}
  </div>

  <h1 class="title">Posts</h1>
  <div class="box">
    <form method="POST" action="/create_post">
      <button class="button is-block is-black is-large is-fullwidth" value="Create Post" name="action" button
        style="margin:5px;">Create Post</button>
    </form>

    <form action="/manage_posts/{{ id }}/0">
      <button class="button is-block is-black is-large is-fullwidth" value="Manage Posts" name="action" button
        style="margin:5px;">Manage Created Posts</button>
    </form>

    <form action="/saved_posts/{{ id }}/0">
      <button class="button is-block is-black is-large is-fullwidth" value="Saved Posts" name="action" button
        style="margin:5px;">Saved Posts</button>
    </form>

  </div>

  <h1 class="title">Timeline</h1>
  <div class="box">

    <form action="/disp_timeline/{{ id }}/0/Topic">
      <button class="button is-block is-black is-large is-fullwidth" value="Followed Topics" name="action" button
        style="margin:5px;">Followed Muscle Groups Timeline</button>
    </form>



    <form action="/disp_timeline/{{ id }}/0/Users">
      <button class="button is-block is-black is-large is-fullwidth" value="Followed Users" name="action" button
        style="margin:5px;">Followed Users Timeline</button>
    </form>

  </div>
  <h1 class="title">My Exercises</h1>
  <div class="box">

    <form action="/saved_workout_list/{{ id }}">
      <button class="button is-block is-black is-large is-fullwidth" value="Saved Exercises" name="action" button
        style="margin:5px;">View Saved Exercises</button>
    </form>
  </div>
  <h1 class="title">Nutritional Goals</h1>
  <div class="box">
    <form action="/add_goal/1">
      <button style="margin-bottom:5px;" class="button is-block is-black is-medium is-fullwidth">Fruits and Vegetables Goals</button>
    </form>
    <form action="/add_goal/2">
      <button style="margin-bottom:5px;" class="button is-block is-black is-medium is-fullwidth">Protein Goals</button>
    </form>
    <form action="/add_goal/3">
      <button style="margin-bottom:5px;" class="button is-block is-black is-medium is-fullwidth">Beverage Goals</button>
    </form>
    <form action="/add_goal/4">
      <button style="margin-bottom:5px;" class="button is-block is-black is-medium is-fullwidth">Meal Planning Goals</button>
    </form>
    <form action="/add_goal/5">
      <button class="button is-block is-black is-medium is-fullwidth">Mindful Eating Goals</button>
    </form>
    <!-- <input type="checkbox" id="goals1" name="goals1" value="fruits_vegetables"> -->
    <!-- <input type="checkbox" id="goals2" name="goals2" value="protein"> -->
    <!-- <input type="checkbox" id="goals3" name="goals3" value="beverage"> -->
    <!-- <input type="checkbox" id="goals4" name="goals4" value="meal_planning"> -->
    <!-- <input type="checkbox" id="goals5" name="goals5" value="mindful_eating"> -->
  </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger" style="height: 100px;">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

{% endblock %}