{% extends "base.html" %}

{% block content %}

<div class="columns is-4 is-offset-4">

  <!--Added below-->
  {% if post_num != NULL %}
  <div class="column">
    <h1 class="title">This Page is About {{ name }}!</h1>
    <h1 class="title">Tagged Post #{{ post_num }}</h1>
    <div class="box">
          {{ post_html|safe }}
    </div>

    {% if list_len > 1 %}
    <h1 class="title">Navigate Posts</h1>
    <div class="box">
  
      {% if post_num < list_len - 1 %}
        <button class="button is-block is-black is-large is-fullwidth" onclick="location.href='/view_topic/{{ id }}/{{ post_num + 1 }}';" type="button"value="Next Post" name="action" button
          style="margin:5px;">Next Post</button>
      {% endif %}
  
      {% if post_num > 0 %}
        <button class="button is-block is-black is-large is-fullwidth" onclick="location.href='/view_topic/{{ id }}/{{ post_num - 1 }}';" type="button" value="Previous Post" name="action" button
          style="margin:5px;">Previous Post</button>
      {% endif %}
    </div>
    {% endif %}

    {% if current_user.is_authenticated %}
    <div class="box">
      <!-- id of user to follow/unfollow is supplied with {{ id }}    -->
      <!-- since it is given to it by the view_profile() function     -->
      {%if not current_user.is_following_topic(id) %}
        <button class="button is-block is-black is-large is-fullwidth" onclick="location.href='/follow_topic/{{ id }}';" type="button" value="Follow Topic" name="action" button
          style="margin:5px;">Follow This Muscle Group!</button>
      {% else %}
      <h1>No longer interested in {{ name }}?</h1>
      <button class="button is-block is-black is-large is-fullwidth" onclick="location.href='/unfollow_topic/{{ id }}';" type="button" value="Follow Topic" name="action" button
        style="margin:5px;">Unfollow This Muscle Group!</button>
      {% endif %}
    </div>
    {% endif %}

  </div>
  {% if current_user.admin %}
  <div class="column">
    <h1 class="title">Edit post contents</h1>
    <div class="box">
      <form method="POST" action="/edit_post/{{ post_id }}">
        <div class="field">
          <div class="control">
              <textarea class="textarea" name="contents" placeholder="Contents"></textarea>
          </div>
          <button class="button is-block is-black is-large is-fullwidth" type="submit"value="Edit Post" name="action" button
          style="margin: 5px;">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div class="column">
  </div>
  {% endif %}
  {% endif %}
  <!--Added above-->
  
</div>

{% endblock %}