{% extends "muscle_groups.html" %}

{% block content %}
<html>
<img src="{{url_for('static', filename='upperbody.png')}}" align="middle"
    style="width:20%;height:10%; border-radius: 5px; padding-bottom: 2%;background-color: white;padding: 31.3847234px;" />
<div class="column is-half is-offset-one-quarter" style="padding: 40px 0 0 ">
    <div class="box">
        <h3 class="title is-3 has-text-black has-text-left">Shoulders</h3>
        <form action="/view_workout/shoulders">
            <button class="button is-block is-black is-medium is-fullwidth">View Exercises</a></button>
        </form>
    </div>
    <div class=box>
        <h3 class="title is-3 has-text-black has-text-left">Back</h3>
        <form action="/view_workout/back">
            <button class="button is-block is-black is-medium is-fullwidth">View Exercises</button>
        </form>
    </div>
    <div class=box>
        <h3 class="title is-3 has-text-black has-text-left">Triceps</h3>
        <form action="/view_workout/triceps">
            <button class="button is-block is-black is-medium is-fullwidth">View Exercises</button>
        </form>
    </div>
    <div class=box>
        <h3 class="title is-3 has-text-black has-text-left">Biceps</h3>
        <form action="/view_workout/biceps">
            <button class="button is-block is-black is-medium is-fullwidth">View Exercises</button>
        </form>
    </div>
    <div class=box>
        <h3 class="title is-3 has-text-black has-text-left">Chest</h3>
        <form action="/view_workout/chest">
            <button class="button is-block is-black is-medium is-fullwidth">View Exercises</button>
        </form>
    </div>
</div>

</html>
{% endblock %}