{% extends "muscle_groups.html" %}

{% block content %}
<html>
    <div class="box">
        <h3>Shoulders</h3>
        <form action="/view_topic/">
            <button a="">View Exercises</button>
        </form>
    </div>
    <div class=box>
        <h3>Back</h3>
        <form action="/view_topic/">
            <button>View Exercises</button>
        </form>
    </div>
    <div class=box>
        <h3>Triceps</h3>
        <form action="/view_topic/">
            <button>View Exercises</button>
        </form>
    </div>
    <div class=box>
        <h3>Biceps</h3>
        <form action="/view_topic/">
            <button>View Exercises</button>
        </form>
    </div>
    <div class=box>
        <h3>Chest</h3>
        <form action="/view_topic/">
            <button>View Exercises</button>
        </form>
    </div>
</html>
{% endblock %}