{% extends "muscle_groups.html" %}

{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            Workout Splits
        </p>
    </div>
</section>
<div class="columns">
    <div class="column is-one-third">
        <div class="box">
            <div class="content is-medium is-left">
                <h2>Full Body Split</h2>
                <p>This is generally the best place for <strong>beginners</strong> to start. Hitting your whole body several times per 
                week with compound movements that work multiple muscles at a time can be both taxing and strengthening.</p>
                <p></p>
                <p class="has-text-left pl-5"><strong>3-day split example:</strong></p>
                <div class="content is-left is-normal has-text-left">
                    <ul class="pl-6">
                        <li>Day 1: full body routine</li>
                        <li>Day 2: rest</li>
                        <li>Day 3: full body routine</li>
                        <li>Day 4: rest</li>
                        <li>Day 5: full body routine</li>
                        <li>Day 6/7: rest</li>
                    </ul>
                </div>
                
            </div>
        </div>        
    </div>
    <div class="column is-one-third">
        <div class="box">
            <div class="content is-medium is-left">
                <h2>Upper/Lower Split</h2>
                <p>This is a good option for someone who likes the simplicity of the full-body split but wants to train more often at an 
                    <strong>intermediate</strong> level.</p>
                <p></p>
                <p class="has-text-left pl-5"><strong>4-day split example:</strong></p>
                <div class="content is-left is-normal has-text-left">
                    <ul class="pl-6">
                        <li>Day 1: upper body routine</li>
                        <li>Day 2: lower body routine</li>
                        <li>Day 3: rest</li>
                        <li>Day 4: upper body routine</li>
                        <li>Day 5: lower body routine</li>
                        <li>Day 6/7: rest</li>
                    </ul>
                </div>
    
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box">
            <div class="content is-medium is-left">
                <h2>Push/Pull/Legs Split</h2>
                <p>This is a slightly more <strong>intermediate</strong> to <strong>advanced</strong> option.
                
                The split is great for someone who wants to train six days a week and still have enough time for their muscles to
                recover between sessions.
                </p>
                <p></p>
                <p class="has-text-left pl-5"><strong>6-day split example:</strong></p>
                <div class="content is-left is-normal has-text-left">
                    <ul class="pl-6">
                        <li>Day 1: push - chest, shoulders, triceps</li>
                        <li>Day 2: pull - back, biceps</li>
                        <li>Day 3: legs - quads, glutes, hamstrings, calves</li>
                        <li>Day 4: push - chest, shoulders, triceps</li>
                        <li>Day 5: pull - back, biceps</li>
                        <li>Day 6: legs - quads, glutes, hamstrings, calves</li>
                        <li>Day 7: rest</li>
                    </ul>
                </div>
    
            </div>
        </div>
    </div>
</div>
{% endblock %}